@charset "utf-8";

body, h1, h2, h3, ul, dl, dt, dd, p {
	margin: 0;
	padding: 0;
}
ul, dl {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
body {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
}
img {
	vertical-align: top;
}
body {
	min-width: 1280px;
	overflow-x: hidden;
}
